[submodule "pack/slindsey/start/nerdtree"]
	path = pack/slindsey/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/slindsey/start/vim-airline"]
	path = pack/slindsey/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/slindsey/start/vim-airline-theme"]
	path = pack/slindsey/start/vim-airline-theme
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/slindsey/start/vim-prettier"]
	path = pack/slindsey/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "pack/slindsey/start/oceanic-next"]
	path = pack/slindsey/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "pack/slindsey/start/vim-devicons"]
	path = pack/slindsey/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/slindsey/start/vim-jsx-pretty"]
	path = pack/slindsey/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/slindsey/start/vim-js"]
	path = pack/slindsey/start/vim-js
	url = https://github.com/yuezk/vim-js.git
[submodule "pack/slindsey/start/nord-vim"]
	path = pack/slindsey/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "submodule/vim-atom-dark"]
	path = submodule/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "submodule/onehalf"]
	path = submodule/onehalf
	url = https://github.com/sonph/onehalf.git
